.profileContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.dataContainer{
    width: 80%;
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
}

.dataPlacerHolder{
    display: flex;
    flex-direction: column;
    text-align: start;
    gap: 1rem;
    width: 100%;
}

.dataRow{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
    border-bottom: 1px solid;
    padding: 0.5rem;
}