.modalContainer {
    background-color: #F4F4F4;
    height: 18.5rem;
    width: 80%;
    margin-right: auto;
    margin-left: auto;
    padding: 1rem;
    position: absolute;
    bottom: 50%;
    left: 50%;
    transform: translate(-50%, -100%);
}

.modalTitle {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.modalTitle h3 {
    padding: .6rem;
}

#cars {
    width: 90%;
    border: 2px solid #FABF33;
    padding: 10px;
    border-radius: 10px;
    margin-top: 1.2rem;

    margin-right: auto;
    margin-left: auto;
}