*{
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;

}

a:visited { text-decoration: none; color: #03466B; }

.container{
    display:flex;
    flex-direction: column;
    width:100%;
    background-color: #FABF33;
    min-height: 100vh;
    color: #03466B;
}

.App {
  text-align: center;
}


